<div class="body">
  <header>
    <div class="contmobile">
      <div class="ico_list">
        <figure>
          <a (click)="clickJackets()"><img src="http://127.0.0.1:9000/zrdbucket/kurtka.png"><p>Куртки</p></a>
        </figure>
        <figure>
          <a (click)="clickPants()"><img src="http://127.0.0.1:9000/zrdbucket/shtany.png"><p>Штаны</p></a>
        </figure>
        <figure>
          <a (click)="clickSuits()"><img src="http://127.0.0.1:9000/zrdbucket/kostyum.png"><p>Костюмы</p></a>
        </figure>
        <figure>
          <a (click)="clickTshirts()"><img src="http://127.0.0.1:9000/zrdbucket/t-shirt.png"><p>Футболки</p></a>
        </figure>
        <figure>
          <a (click)="clickSweatshirts()"><img src="http://127.0.0.1:9000/zrdbucket/sweater.png"><p>Кофты</p></a>
        </figure>
        <figure>
          <a (click)="clickAccessories()"><img src="http://127.0.0.1:9000/zrdbucket/aksessuar.png"><p>Аксессуары</p></a>
        </figure>
      </div>
    </div>

    <div class="container">
        <div class="mnu_list">
          <ul>
            <li><a (click)="clickJackets()">Куртки</a></li>
            <li><a (click)="clickPants()">Штаны</a></li>
            <li><a (click)="clickSuits()">Костюмы</a></li>
            <li><a (click)="clickTshirts()">Футболки</a></li>
            <li><a (click)="clickSweatshirts()">Кофты</a></li>
            <li><a (click)="clickAccessories()">Аксессуары</a></li>
          </ul>
        </div>
    </div>
  </header>
</div>
