<div class="body">
  <footer>
    <div class="container">
      <div class="photo">
        <a><img src="http://127.0.0.1:9000/zrdbucket/footer2.jpg"></a>
      </div>

      <div class="logo">
        <a href=" "><img src="http://127.0.0.1:9000/zrdbucket/logoZRD.png"></a>
      </div>

      <div class="nav">
          <ul>
            <li><a href="#" routerLink="/cart-shoping">Корзина</a></li>
            <li><a>Доставка</a></li>
            <li><a>Гарантия</a></li>
            <li><a>Контакты</a></li>
          </ul>
      </div>

        <div class="about">
          <ul>
            <li><a>г. Воронеж</a></li>
            <li><a>+7(473)295 94 69</a></li>
            <li><a>ZRDOFF@MAIL.RU</a></li>
          </ul>
        </div>
      </div>
  </footer>
</div>
