<div class="body">
  <header>
    <div class="container">
      <div class="logo">
        <a href="#"><img src="http://127.0.0.1:9000/zrdbucket/logoZRD.png"></a>
      </div>

      <div class="input">
        <input type="text" (keyup)="applyFilter($event)" placeholder="search...">
      </div>

      <div class="mnu_ico">
        <a>
          <img src="http://127.0.0.1:9000/zrdbucket/arrow_right_login_icon.png">
        </a>
        <a href="#" routerLink="/cart-shoping">
          <img src="http://127.0.0.1:9000/zrdbucket/shopping-cart_icon-icons.com_65051%20%281%29.png"></a>
      </div>
    </div>
  </header>
</div>
