<div class="body">
  <app-header></app-header>
  <app-nav></app-nav>
  <div>
    <div class="container">

      <h2><a href="#">Вернуться назад</a></h2>
      <div class="backstr"><a href="#"><img src="http://127.0.0.1:9000/zrdbucket/back_str.png"></a></div>
      <h3>Ваша корзина</h3>

      <div class="pay">
        <button class="decorbtn">Перейти к оформлению</button>
        <p>Товаров в корзине: {{prods.length}}</p>
        <p>Цена без скидки: {{getUnrealprice()}} ₽</p>
        <p>Ваша скидка: {{getDiscount()}} ₽</p>
        <p class="pbold">Итоговая цена: {{getPrice()}} ₽</p>
      </div>

      <div class="prodlist" *ngFor="let Prod of prods">
        <div class="secphoto">
          <a href=""><img src="{{Prod.current_image}}"></a>
        </div>

        <div class="secinfo">
          <h4>{{Prod.name}}</h4>
          <p>Размер: {{Prod.current_size}}</p>
          <p>Цвет: {{Prod.current_color}}</p>
          <p>Цена: {{Prod.real_price}} ₽</p>
          <p>Количество: 1</p>
        </div>

        <div class="seccart">
          <button class="del" (click)="del(Prod)"></button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
