<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <app-header></app-header>
  <app-nav></app-nav>
  <div>
    <div class="container">

      <h2><a href="#">Вернуться назад</a></h2>
      <div class="backstr"><a href="#"><img src="http://127.0.0.1:9000/zrdbucket/back_strel.png"></a></div>
      <h3>Ваша корзина</h3>

      <div class="pay">
        <button class="decorbtn">Перейти к оформлению</button>
        <p>Товаров в корзине:</p>
        <p>Цена без скидки:  ₽</p>
        <p>Ваша скидка:  ₽</p>
        <p class="pbold">Итоговая цена:  ₽</p>
      </div>

      <div class="prodlist">
        <div class="secphoto">
          <a href=""><img src="http://127.0.0.1:9000/zrdbucket/specmenuPhoto1.png"></a>
        </div>

        <div class="secinfo">
          <h4>T-Shirt Geoposition</h4>
          <p>Размер: XS</p>
          <p>Цвет: чёрный</p>
          <p>Цена: 2300 ₽</p>
          <p>Количество: 1</p>
        </div>

        <div class="seccart">
          <a href=""><img src="http://127.0.0.1:9000/zrdbucket/korzina_ico.png"></a>
        </div>
      </div>

      <div class="prodlist">
        <div class="secphoto">
          <a href=""><img src="http://127.0.0.1:9000/zrdbucket/specmenuPhoto1.png"></a>
        </div>

        <div class="secinfo">
          <h4>T-Shirt Geoposition</h4>
          <p>Размер: XS</p>
          <p>Цвет: чёрный</p>
          <p>Цена: 2300 ₽</p>
          <p>Количество: 1</p>
        </div>

        <div class="seccart">
          <a href=""><img src="http://127.0.0.1:9000/zrdbucket/korzina_ico.png"></a>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</body>
</html>
