<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="photo1">
      <a href="#"><img src="http://127.0.0.1:9000/zrdbucket/specmenuPhoto1.png"></a>
    </div>
    <div class="info">
      <p>Магазин уличной молодежной одежды собственного производства. Каждый сезон мы выкатываем актуальные модели.</p>
      <p><b>Заряд</b> - российский бренд уличной одежды. Идея о своем бренде появилась в середине 2014 года, хотелось создавать одежду для выражения своей позиции, настроя, индивидуальности. Мы нашли единомышленников, мастеров для пошива первой партии.</p>
      <p>В июле 2015 года наш бренд получил официальный статус.</p>
    </div>
    <div class="photo2">
      <a href="#"><img src="http://127.0.0.1:9000/zrdbucket/specmenuPhoto2.png"></a>
    </div>
</div>

</body>
</html>
