<div class="body">
  <app-header></app-header>
  <app-nav
    (onClickJackets)="ClickJackets()"
    (onClickPants)="ClickPants()"
    (onClickSuits)="ClickSuits()"
    (onClickTshirts)="ClickTshirts()"
    (onClickSweatshirts)="ClickSweatshirts()"
    (onClickAccessories)="ClickAccessories()">
  </app-nav>
  <app-special-menu></app-special-menu>
  <div>
    <div class="container" >
        <figure *ngFor="let item of prods">
          <img src="{{item.current_image}}">
        <figcaption><a class="name" [routerLink]="['card-product/', item.type, item.id, item.current_color]">{{item.name}}</a></figcaption>
        <figcaption class="price"><p class="pricereal">{{item.real_price}} ₽</p><p class="priceunreal">{{item.unreal_price}} ₽</p></figcaption>
        <figcaption class="colorbut">
            <div id="color_box">
              <div (click)="change_color($event,item)" class="{{color}}" *ngFor="let color of item.colors" class="color-btn" [style.background-color]="color"></div>
            </div>
        </figcaption>
        <figcaption>
          <button (click)="addToCart(item)"></button>
        </figcaption>
        </figure>
    </div>
    <app-footer></app-footer>
  </div>
</div>

