<div class="body">
  <app-header></app-header>
  <app-nav></app-nav>
  <div>
    <div class="container">

      <div class="backstr"><a href="#"><img src="http://127.0.0.1:9000/zrdbucket/back_str.png"></a></div>
      <h2><a href="#">Вернуться назад</a></h2>

      <div class="gal">
        <a class="mainphoto"><img src="{{prod.current_image}}"></a>
      </div>

      <div class="info">
        <h4>{{prod.name}}</h4>
        <div class="price">
          <p class="pricereal">{{prod.real_price}} ₽</p><p class="priceunreal">{{prod.unreal_price}} ₽</p>
        </div>
        <p>Размеры:</p>
        <div class="btn-size">
          <button *ngFor="let Size of prod.sizes">{{Size}}</button>
        </div>
        <div class="btn-add">
          <button (click)="addToCart(prod)">Добавить в корзину</button>
        </div>
        <p>Характеристики:</p>
        <ul>
          <li *ngFor="let Xar of prod.desc">{{Xar}}</li>
        </ul>
        <p>Цвет: {{prod.current_color}}</p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
